[Unit]
Description=Enable brightness control nvidia

[Service]
ExecStart=setpci -v -H1 -s 00:01.00 BRIDGE_CONTROL=0

[Install]
WantedBy=multi-user.target
